body, html {
  height: 100%;
  margin: 0;
}
  
.navbar {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  padding: 0px 0px 0px 0px !important;
}
  
.navbar-brand {
  color: rgb(0, 0, 0) !important;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  /* font-weight: bold; */
  padding-left: 10px;
  font-size: 2rem !important;
}
  
.nav-item {
  padding-left: 20px;
  font-family: "oswald", sans-serif;
  font-size: 23px;
  font-weight: 100;
}

.nav-link{
  color: rgb(0, 0, 0) !important;
}
  
.navbar-nav {
  padding-right: 50px;
  font-weight: bold;
  color: #2873B2 !important;
}

.landingPage {
  /* The image used */
  background-image: url("hero-pic.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-body {
  height: 800px !important;
  padding-left: 10px;
  padding-top: 5%;
  text-align: center;
  color: black !important;
}
  
.littleClinicInlandinPage {
  font-family: "Quattrocento", sans-serif;
  text-align: center;
  font-size: 5rem;
  line-height: 2;
}
  
.landingPageMessage {
  font-family: "Quattrocento", sans-serif;
  font-family: "Quattrocento", sans-serif;
  color: black;
  line-height: 1;
}
  
.top-container {
  margin: 50 0 100px 0;
  padding-bottom: 50px;
  background-color: #f6cbd2;
  color: black;
}

.glass{
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.landingPageText {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 390px) {

  .landingPageText {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .doc-pic-div{
    padding-left: 100px;
  }
}

#about{
  background-color: #EEEFF1;
}

.about-row{
  padding-bottom: 100px;
}

.about-description, .address, .address-google-map, .doc-pic-div {
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.about-name{
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 50px;
  justify-content: center;
  text-align: center;
}

.doc-pic {
  border: 2px solid;
  left: 100px;
  position: relative;
  height: 480px;
  width: 400px;
  border-radius: 8%;
  margin-left: auto;
  margin-right: auto;
}

.doc-pic-div{
  padding-right: 200px !important;
}

#address{
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.address, .address-google-map{
  padding-top: 150px !important;
}